# 파이썬, 파이토치, 맷플랏립 튜토리얼

파이썬은 많은 과학자들에 사용되고 있는 언어이다. 대부분의 기계학습 모델들은 Tensorflow와 pytorch등의 패키지를 사용하여 구현되고있다. 이 노트북은 python, pytorch, matplotlib의 기초를 설명한다.

## 1. 파이썬 기초
### a. 변수

int = 정수
float = 소수점이 있는 수
str = 글
bool = 참, 거짓.

In [ ]:
name = 'Titanic'
age = 1997
price = 3.9 
Available = False # Uppercase True or False

#### EXERCISE
키 174.2cm, 33 살의 새로운 환자 John에 대한 변수들을 만들어보세요. 키, 나이, 이름, 새로운 환자인지 여부 네 가지의 변수를 만들어보세요.

### b. 애러를 분석하면 코드에 어떤 문제가 있는지에 힌트가 있어요.

In [ ]:
birth_year = '1996'
Age = 2024 - birth_year
print(Age)

### c. Type Conversion

In [ ]:
birth_year = '1996'
print(type(birth_year))

In [ ]:
birth_year = int(birth_year)
print(type(birth_year))

In [ ]:
Age = 2024 - birth_year
print(Age)

In [ ]:
message = 'his age is ' + str(Age)
print(message)

In [ ]:
print(str(True))
print(int(True))

In [ ]:
print(str(False))
print(int(False))

#### EXERCISE
7년 전의 년도를 계산하고 올해가 몇해인지를 알려주는 str를 만들어서 프린트 해보세요.

### d. string

In [ ]:
course = 'Python for beginners'

In [ ]:
course = "Python for beginners"

In [ ]:
course = 'Python's course for beginners'

In [ ]:
course = "Python's course for begineers"

In [ ]:
course = 'Python for "begineers"'

In [ ]:
course = '''Python's course for "beginners"'''

In [ ]:
course = '''
Hello Professor,
I'm John. Can I take your course "Python for begineers?"
Thank you,
John
'''

In [ ]:
course = 'Python'
#         012345
#             -1
print(course[0])

In [ ]:
print(course[-1])

In [ ]:
print(course[0:3])

In [ ]:
print(course[:3])

In [ ]:
print(course[3:])

In [ ]:
print(course[-2:-1])

In [ ]:
print(course[-2:])

In [ ]:
print(course[:-2])

#### EXERCISE
name = 'Geun Ho Gu'\
다음과 같이 치면 어떤 아웃풋이 나올까요?\
print(name[1:-1])

### e. Formatted string

In [ ]:
first = 'Geun Ho'
last = 'Gu'
msg = first +' [' + last + '] is a coder'
print(msg)

In [ ]:
msg = f'{first} [{last}] is a coder'
print(msg)

#### EXERCISE
"I'm 17 years old." 나이 변수를 만들고 formatted string을 통해서 프린트 해보세요

### f. string method

In [ ]:
course = 'Python for beginners'
print(len(course))

method는 Object orientted programming 에서 볼 수 있는, 변수를 가지고 할 수 있는 루틴을 뜻합니다. \
course.\<tab\>

In [ ]:
course.

In [ ]:
course.upper()

In [ ]:
course.find('t')

In [ ]:
course.replace('beginners','intermediates')

In [ ]:
'for' in course

### g. Arithmetic

여러가지 기초 연산

In [ ]:
x = 5
print(x + 5)  # 더하기

In [ ]:
print(x - 3)  # 빼기

In [ ]:
print(x * 9)  # 곱하기

In [ ]:
print(x / 2)  # 나누기

In [ ]:
print(x % 2)  # 나머지

In [ ]:
print(x // 2) # 몫

In [ ]:
print(x ** 3) # 지수

In [ ]:
x = 3
x = x + 2
print(x)

In [ ]:
x += 2
print(x)

In [ ]:
x //= 2
print(x)

### Exercise
다음을 계산해보시오\
$$10 + 3 \times 2$$

$$\sqrt[3]{2*10}$$

In [ ]:
(2*10)**(1/3)

### Exercise
다음을 계산해보시오\
$$\sqrt[3]{2*5} + \sqrt{5-2}$$

## h. math functions

In [ ]:
x = -2.3
print(abs(x))

In [ ]:
print(round(x))

In [ ]:
import math
math.ceil(-2.3)

## i. if statement
if it's a hot day\
    It's hot\
    Drink plenti of water\
otherwise if it's cold\
    It's cold\
    wear warm cloth\
otherwise\
    It's a nice day

In [ ]:
is_hot = True
if is_hot:
    print("It's a hot day")
print('enjoy your day')

In [ ]:
is_hot = True
if is_hot:
    print("It's a hot day")
    print("Drink plenti of water")

In [ ]:
is_hot = True
if is_hot:
    print("It's a hot day")
    print("Drink plenti of water")
else:
    print("It's a cold day")
    print("Wear warm cloth")

In [ ]:
is_hot = False
is_cold = True
if is_hot:
    print("It's a hot day")
    print("Drink plenti of water")
elif is_cold:
    print("It's a cold day")
    print("Wear warm cloth")
else:
    print("It's a nice day")

### Exercise
밥을 먹었으면 이빨을 딱는다라고 프린트하고 그렇지 않으면 밥을 먹는다 라고 프린트하게하는 명령어를 만들어보세요

In [ ]:
I_like_ice_cream = True
I_am_hungry = True
if I_am_hungry and I_like_ice_cream:
    print('I eat ice cream')

In [ ]:
if I_am_hungry or I_like_ice_cream: # at least one condition is true
    print('I like eating')

In [ ]:
if not I_like_ice_cream:
    print("I don't like ice cream")

In [ ]:
if I_am_hungry and not I_like_ice_cream:
    print('I want to eat but not ice cream')

## j. Booleans
참 거짓을 나타내는 변수를 Boolean이라고 합니다.

In [ ]:
t = True
f = False
print(t,f)
print(type(t))

Boolean은 "and" , "or", and "not" 등을 사용할 수 있다. (그리고, 또는, 아닌)

In [ ]:
# x and y = true if both x and y are true
print(t and t)

In [ ]:
print(t and f)

In [ ]:
print(t or t)

In [ ]:
print(t or f)

In [ ]:
print(not t)

#### Exercise
아래는 코드는 어떤 output이 나올까요?

In [ ]:
print(f or f)

In [ ]:
print(f or t)

In [ ]:
print(not f)

### Comparison
두가지 변수를 여러 방식으로 비교할 수 있다.

In [ ]:
 print(1 == 1) # equality

In [ ]:
 print(1 == 2)

In [ ]:
 print(1 != 1) # inequality

In [ ]:
 print(1 != 2)

In [ ]:
print( 1 < 2) # less than

In [ ]:
print( 1 > 2) # greater than

In [ ]:
print( 1 <= 2) # less than or equal to

In [ ]:
print( 1 <= 1)

In [ ]:
print( 1 >= 2)# greater than or equal to

In [ ]:
Temperature = 30
if Temperature > 23:
    print("It's hot")

#### Exercise
이름의 길이가 3이하면 이름이 너무 짧다고 프린트하고, 50이상이면 너무 길다라고 프린트하고, 그 사이면 괜찮다고 하는 if statement를 만들어보세요.

## k. while loop

In [ ]:
i = 1
while i <= 5:
    print('*'*i)
    i = i +1
print('done')

#### Exercise
토끼의 수가 20마리 이하일때 토끼의수가 계속해서 두배로 늘어나는 코드를 만들어보세요. 첫 토끼들의 수는 2마리입니다.

## l. Blackjack game

Let's make a while loop that allow user to add card until they are busted.

In [ ]:
input_value = input('your input')
print(input_value)

In [ ]:
import random
current_value = random.randrange(1,10)
current_value += random.randrange(1,10)

while True:
    print(f"our value is {current_value}")
    command = input('(hit, stop)>')
    if command == 'stop':
        print(f"Your value is {current_value}")
        break
    elif command == 'hit':
        current_value += random.randrange(1,10)
    if current_value > 21:
        print(f"Your value is {current_value}")
        print('busted!')
        break

## m. For loops

In [ ]:
for item in 'python':
    print(item)

In [ ]:
for item in ['John','Sara','Alan']:
    print(item)

In [ ]:
for item in [1,2,3,4,5,6]:
  print(item)

In [ ]:
for item in range(20):
  print(item)

#### Execercise
Add up all the item in the prices\
prices = [60,70,90]

## n. Nested Loop
(x,y)\
(0,0)\
(0,1)\
(0,2)\
(1,0)\
(1,1)\
...

In [ ]:
for x in range(4):
    for y in range(3):
        print(f'({x},{y})')

#### Exercise
given numbers = [2,3,4,1]\
Nested loop을 사용해서 다음을 프린해보세요\
xx\
xxx\
xxxx\
x

## o. List
List는 다른 변수들을 직렬화 형태로 저장한다.

In [ ]:
names = ['John','Mary','Sara','Alan']
print(names[0])

In [ ]:
print(names[2:])

In [ ]:
print(names[-2])

In [ ]:
print(names[-2:])

#### Exercise
Write a code that find the maximum value in the list [2,3,1,5,2,9,10,2]

In [ ]:
list_of_whatevers = [1, 3.2, 'wow', 'okay',['list within list']]
print(list_of_whatevers)

### 2D Matrix

In [ ]:
Matrix = [
             [1,2,3],
             [4,5,6],
             [7,8,9]
]
print(Matrix[0][2])

In [ ]:
Matrix[0][2] = 20
print(Matrix)

### List Methods

In [ ]:
numbers = [5,2,1,3,2]
#numbers.<tab>

In [ ]:
numbers.append(20)
print(numbers)

In [ ]:
numbers.insert(0, 90)
print(numbers)

In [ ]:
numbers.pop()
print(numbers)

In [ ]:
print(numbers.index(1))

In [ ]:
print(3 in numbers)

In [ ]:
numbers.sort()
print(numbers)

In [ ]:
numbers.reverse()
print(numbers)

#### Exercise 
다음 list에서 반복되는 숫자를 없애는 프로그램을 만들어 보세요. [2,2,4,6,3,3,6,1]

## p. tuple
List와 비슷하나 List처럼 list안에 내용물을 바꿀 수 없습니다.

In [ ]:
numbers = (0,1,2)
print(numbers[0])

In [ ]:
numbers[0] = 2

### Unpacking

In [ ]:
Coordinates = (2,3,1)
x,y,z = Coordinates
print(x,y,z)

## q. Dictionary
다음과 같은 정보를 가진 사람이 있다면..\
name - Hohn\
email - john@gmail.com\
age - 32\
Phone - 1234\

In [ ]:
Person = {
    'name':'John',
    'email':'john@gmail.com',
    'age':32,
    'age':40,
    'Phone':1234,
}

In [ ]:
Person['name']

In [ ]:
Person['Name']

In [ ]:
Person['birthdate']

In [ ]:
Person.get('birthdate')

In [ ]:
Person.get('birthdate','Jan 01')

In [ ]:
Person['birthday'] = 'Feb 14'

In [ ]:
print(Person['birthday'])

#### Exercise
1,2,3,4 등 번호를 One, two, three, four를 프린트 하는 프로그램을 dictionary를 이용하여 만들어보세요.

## r. functions

In [ ]:
def greet_user():
    print('Hi there!')
    print('Welcome aboard!')

print('start')
greet_user()
print('finish')

In [ ]:
def greet_user(name):
    print(f'Hi {name}!')
    print('Welcome aboard!')

print('start')
greet_user('John')
print('finish')

In [ ]:
def greet_user(name):
    print(f'Hi {name}!')
    print('Welcome aboard!')

print('start')
greet_user('John')
greet_user('Mary')
print('finish')

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')

print('start')
greet_user('John','Smith') # positional argument
greet_user('Mary','Scott')
print('finish')

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')

print('start')
greet_user('John')
print('finish')

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')

print('start')
greet_user(last_name='Smith',first_name='John')
print('finish')

In [ ]:
def square(number):
    return number* number # return

result = square(5)
print(result)

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')
    return None

#### Exercise
1,2,3 등 번호를 2로 곱한후 One, two, three등 영어로 프린트 하는 프로그램을 def를 이용하여 만들어보세요.

## s. class
Class는 변수에 대해서 여러가지 할 수 있는 작업등을 제공 할 수 있다.

In [ ]:
numbers = [1,2,3,4,5]
numbers.append
numbers.insert
numbers.pop
numbers.index
numbers.sort
numbers.reverse

In [ ]:
class zoo:
    def cow(self):
        print('moo')
    def cat(self):
        print('meow')

Zoo1 = zoo()
Zoo1.number_of_cats = 10
Zoo1.cat()
Zoo2 = zoo()
Zoo2.number_of_cows = 3
Zoo2.cow()

### Consturctor

In [ ]:
class zoo:
    def __init__(self,number_of_cows,number_of_cats):
        self.number_of_cows = number_of_cows
        self.number_of_cats = number_of_cats
    def cow(self):
        print('moo')
    def cat(self):
        print('meow')

SeoulZoo = zoo(10,5)
print(SeoulZoo.number_of_cows)

In [ ]:
class Person:
    def __init__(self,name):
        self.name = name
    def talk(self):
        print(f'Hi! My name is {self.name}.')

john = Person('John Smith')
john.talk()

john = Person('Bob')
john.talk()

### Inheritance

In [ ]:
class Mammal:
    def walk(self):
        print('walk')

class Dog(Mammal):
    pass

class Cat(Mammal):
    pass

dog1 = Dog()
dog1.walk()

In [ ]:
class Mammal:
    def walk(self):
        print('walk')

class Dog(Mammal):
    def bark(self):
        print('bark')

class Cat(Mammal):
    def meow(self):
        print('meow')

dog1 = Dog()
dog1.walk()
dog1.bark()

cat1 = Cat()
cat1.walk()
cat1.meow()

In [ ]:
cat1.bark()

#### Exercise
목장(Pasture) class를 만들고 소 숫자가 __init__에서 정의 되며, 소가 한개 추가되는 def와 현재 총 소 수를 print하는 def를 만들어보세요.

## t. module

In [ ]:
from converter import kg_to_lbs
print(kg_to_lbs(65))

## u. Numpy
Numpy는 백터 및 매트릭스 기반 연산이 가능한 파이썬 코트 페키지이다. 기초 파이썬 코드는 복잡한 연산을 할 수 없기에 다른 패키지가 개발이 되었다.

In [ ]:
import numpy as np

In [ ]:
x = np.array([1,2,3,4])
print(type(x))
print(x, x[2:])

In [ ]:
b = np.array([[1,2,3],[4,5,6]]) # this is a 2 dimensional matrix. 
print(b)

In [ ]:
print(b.shape)

In [ ]:
print(b[0])

In [ ]:
print(b[0,0],b[0,1],b[1,2])

In [ ]:
print(b[0][0])

### 스페셜 메트릭스

In [ ]:
a = np.zeros((2,2))  # Create an array of all zeros
print(a)

In [ ]:
b = np.ones((1,2))   # Create an array of all ones
print(b)

In [ ]:
d = np.eye(2)        # Create a 2x2 identity matrix
print(d)

In [ ]:
e = np.random.random((2,2)) # Create an array filled with random values
print(e)

### Random

In [ ]:
a = np.random.random((5,5))
print(a)

### indexing
인덱싱은 기존 List와 비슷하게 작동하나, torch를 통해서 여러 dimension으로 할 수 있다.

In [ ]:
a = np.random.random((5,5))
print(a)

In [ ]:
print(a[0,:])

In [ ]:
print(a[:,0])

### Broadcasting

In [ ]:
a = np.random.random((5,5))
print(a)
a[:,0] = 1 # broad casting
print(a)

In [ ]:
a = np.random.random((5,5))
print(a)
a[1,:] = 1 # broad casting
print(a)

In [ ]:
a = np.zeros((5,5))
print(a)
a += 1
print(a)

In [ ]:
import numpy as np
a = np.zeros((5,3))
print(a)
b = np.array([[1,2,3]])
print(b)
a  = a + b
print(a)

### 매트릭스 Boolean

In [ ]:
a = np.random.random((5,5))
print(a>0.5)

In [ ]:
print(a[a>0.5]) # boolean indexing

### Array math
여러가지 매트릭스 연산을 할 수 있다.

In [ ]:
a = np.random.random((3,3))
b = np.random.random((3,3))
print(a)
print(b)

In [ ]:
print(a+b)

In [ ]:
print(np.matmul(a,b))   # a x b

In [ ]:
print(np.tensordot(a,b))      # a . b

In [ ]:
print(a*b)              # element wise multiplication

In [ ]:
a = np.random.random((5,3))
print(a)
print('sum',np.sum(a))

In [ ]:
print('sum along rows',np.sum(a,axis=0))

In [ ]:
print('sum along columns',np.sum(a,axis=1))

In [ ]:
print('mean along rows', a.mean(0))

In [ ]:
print('standard deviation along rows', a.std(0))

# Exercise

$$\begin{bmatrix}1 & 2\\
1 & 3\\
\end{bmatrix}
\begin{bmatrix}2\\
-3\\
\end{bmatrix}=?
$$

## v. Matplotlib
그림을 그릴 수 있다.

In [ ]:
import matplotlib.pyplot as plt
x = np.arange(0,3*np.pi,0.1)
y = np.sin(x)

plt.plot(x, y)
plt.show()

In [ ]:
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x, y_sin)
plt.plot(x, y_cos)

In [ ]:
plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.xlabel('x')
plt.ylabel('f(x)')
plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine'])
plt.axis('tight')
plt.show()

## Pandas를 사용한 CSV 파일 읽기
Pandas 패키지를 이용해서 csv 파일을 불러 올 수 있다.

In [ ]:
import urllib.request
urllib.request.urlretrieve("https://github.com/GuGroup/NNTutorial-2024-02-11-Winter-camp/raw/main/2PythonTutorial/data.csv", "data.csv")

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

In [ ]:
data = df.to_numpy()
print(data.shape)
print(data)