## 파이썬 튜토리얼
파이썬은 많은 과학자들에 사용되고 있는 언어이다.

대부분의 기계학습 모델들은 Tensorflow와 pytorch등의 패키지를 사용하여 구현되고있다.

이 노트북은 python의 기초 및 numpy, matplotlib, pandas를 가볍게 설명한다.

## 1. 변수

변수를 정의하는 법.

변수 정의란 이름에 값을 붙이는 일이라고 생각하면 좋다.

예를 들자면, A 라는 이름에 1 이라는 값을 붙이는 일이다.



파이썬 (및 대부분의 언어) 는 왼쪽에 변수 이름, 오른쪽에 변수 값을 기입한다.

In [ ]:
# 왼쪽에 변수 이름, 오른쪽에 변수 값
A = 1

이제 A라는 이름은 이 코드 내에서 영원히 1의 값을 가지게 된다. (수정하지 않으면 ...)

In [ ]:
print(A)

1

B의 이름에 2라는 값을 붙여보자.

In [ ]:
# B 의 이름에 2 를 붙여보자.
# 왼쪽에 변수 이름, 오른쪽에 변수 값

In [ ]:
print(B)

## 2. 타입

파이썬에서 주로 사용하는 변수의

"타입"

은 네가지이다.

int (integer, 정수)

float (floating point, 소수)

str (string, 글)

bool (boolean, 참-거짓)

첫번째로 int 에 대해 살펴보자.

## 2.1 int

int 는 말 그대로 정수이다.

-, 0, + 의 값을 지닌 숫자들..

파이썬에서 int 타입의 변수를 정의하는 방법은 다음과 같다.

In [ ]:
# 왼쪽에 변수 이름, 오른쪽에 변수 값
C = 3

위의 과정과 동일하다.

오른쪽 변수 값에 정수가 들어간다면 자동으로 C는 int 타입인 변수가 되게 된다.

그렇다면 어떻게 C 가 int 타입인지 확신할 수 있을까 ?

방법은 아래와 같다.

In [ ]:
type(C)

int

위에서 정의한 A 와 B 의 타입도 확인해 보자

In [ ]:
# A의 타입을 확인해 보아요 (힌트 있는 상태임)
type()
# B의 타입을 확인해 보아요 (힌트 없는 상태임)

TypeError: type() takes 1 or 3 arguments

## 2.2 float

float 은 소수점 아래에 숫자를 가지고 있는 값을 정의할 때 사용하는 타입이다.

파이썬에서 float 타입의 값을 정의하는 방법은 다음과 같다.

In [ ]:
aa = 1.5

위와 같이 bb 에 2.5 의 값을 정의해 보자.

In [ ]:
# bb의 이름에 에 2.5의 값을 정의해 보아요

역시 오른쪽 값에 소수점 아래 숫자를 가진 값이 들어간다면 자동으로 aa는 float 타입의 변수가 되게 된다.

한번 확인해보자.

In [ ]:
# aa의 타입을 확인해 보아요

## 2.3 string

string은 문자열의 값을 정의할 때 사용하는 타입이다.

(문자열이란 hello world 같이 알파벳 등으로 이루어진 값을 의미한다.)

파이썬에서 string 타입의 값을 정의하는 방법은 다음과 같다.

In [ ]:
aaa = "hello world"

위의 int, float 과 다르게 따옴표를 문자열의 좌 우에 넣어주어야 한다.

bbb에 bye world 의 문자열을 정의해보자.

In [ ]:
# bbb의 이름에 bye world의 문자열을 정의해 보아요

aaa의 타입을 확인해보자.

In [ ]:
# aaa의 타입을 확인해보아요

## 2.4 bool

bool 은 참, 거짓의 값을 정의할 때 사용하는 타입이다.

파이썬에서 bool 타입의 값을 정의하는 방법은 다음과 같다.

In [ ]:
aaaa = True
bbbb = False

따옴표 없이 True, False 를 써주면 된다.
cccc에 True 를 정의해보자

In [ ]:
# cccc에 True 를 정의해보아요

aaaa의 타입을 확인해보자.

In [ ]:
# aaaa의 타입을 확인해보아요

다양한 방법으로 bool을 만들어 낼 수 있다.

예를 들면
a 가 1이고, b 가 1일 때,
a 와 b가 같은가? 라고 물어보면 정답은 True 이다.
이를 코드화 하면,

In [ ]:
a = 1
b = 1
a == b

True

== 을 통해 둘이 같은지 확인할 수 있다.
그리고 결과는 bool을 통해 산출된다.

== 외에도 !=, >=, <=, >, < 등의 다양한 "연산자" 가 존재한다.

관심이 있다면 구근호 교수님의 랩실에 진학하여 깊게 확인해보자. . .

# 2.5 Exercise

만약 당신이 병원 원무과에서 환자를 맞이하는 일을 하게 된다면,

환자의 키, 나이, 이름, 병원 방문 경험 을 데이터화 해야만 할 것이다.

나이(age): 28 (int)

키(height): 185.6 (float)

이름(name): Jake (str)

병원 방문 경험(hospital): True (bool)

인 환자의 데이터를 코드 내에 영원히 기록시켜보자.

In [ ]:
# height, age, name, hospital
# int 정의: a = 1
# float 정의: aa = 1.5
# str 정의: aaa = "hello world"
# bool 정의: aaaa = True

# 2.6 type 사이 연산

일반적으로 파이썬에서, 다른 type의 변수는 연산이 불가능하다.

In [ ]:
a = 1
b = "hi"

a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

위 모습은 int 타입 변수와 str 타입 변수를 더하려 하니 못더하겠다 하는 오류가 발생한 상황이다.

이와 같이 연산을 하고자 한다면 같은 type 끼리 연산을 하는게 좋다.

물론 예외는 존재한다.

int 타입과 float 타입 사이의 연산이 예시이다.

In [ ]:
a = 1
b = 1.1
c = a + b

print("c is: ", c)
print("type of c is: ", type(c))

c is:  2.1
type of c is:  <class 'float'>

# 3. 디버그

프로그래밍의 깊은 즐거움..

디버그이다.

위에서 배운 type 들 사이의 연산을 통해 즐거운 디버깅을 체험해보자.

In [ ]:
# 고쳐 보아요
birth_year = '1996'
Age = 2025 - birth_year
print(Age)

# 4. 조건문, 반복문

if, for, while 등을 통해 기초적인 알고리즘을 만들어

노가다 해야 했던 일들을 순식간에 해치울 수 있다.

# 4.1 if

만약. . .

말 그대로 만약이다.

위에서 언급한 bool 을 통해 사용할 수 있다.

"만약 사실이라면, 일을 진행하도록 하지"

의 느낌이다. 사용 예시를 확인해 보자.

In [ ]:
if True: # 만약 사실이라면..
  print(1) # 1을 프린트 하도록 하지..

if False: # 만약 사실이라면.. 인데 거짓이니..
  print(0) # 0은 프린트 하지 않도록 하지..

1

1 은 프린트 되었으나, 0은 프린트 되지 않았다.

if 뒤에 사실이여야 일이 진행되기 때문이다.

구체적인 사용 방법은 아래 코드를 참고하자

In [ ]:
# 먼저 if 를 쓰고,
# 띄어쓰기 후 True 나 False 를 쓰고 : 를 붙여줍니다.
# 이후 엔터를 치면 자동적으로 들여쓰기가 활성화되고,
# 시키시고자 하는 일을 작성하시면 됩니다.
'''
if True:
  print("work")
'''

# 따라 써 보아요

'\nif True:\n  print("work")\n'

이를 조금 응용한다면 아래와 같은 코드를 작성할 수 있다.

In [ ]:
hot = True

if hot:
  print("Drink water")

Drink water

또한 위의 bool 부분에서 사용한 == 을 이용하면 이러한 응용도 가능하다.

In [ ]:
a = 1
b = 1
if a == b: # 만약 a 와 b 가 같다면..
  print("they are same")

they are same

하지만 언제나 사람 일이 마음대로 되는 것이 아니기 때문에 . . .

사실이 아닌 상황에서도 일을 시키려는 마음이 들 수 있다.

그럴 때는 else를 사용한다.

In [ ]:
a = 1
b = 2
# a와 b 가 다른 상황임..

if a == b: # a 와 b 가 다르므로 아래의 They are same 은 프린트 되지 않는다.
  print("They are same")
else: # 그러나 else, 그 외의 상황에서 일을 시키는 코드가 아래에서 돌아간다.
  print("They are different")

They are different

# Exercise (if)

a 와 b가 같다면 (if), happy 를 프린트(print)하고
그렇지 않을 때 (else), sad 를 프린트(print) 코드를 작성 해 보자.

In [ ]:
# 먼저 a 와 b 를 정의 해보아요

# if 문을 써보아요

# 4.2 while

while.. 은 ~ 하는 동안 으로 해석된다.

파이썬 내에서 사용할 때에는

사실인 동안 일을 시키겠다.

정도의 마음가짐으로 while을 사용하면 좋다.

사용 예시를 확인해 보자.

In [ ]:
a = True
while a:
  print("Now I'm working")
  a = False

Now I'm working

첫번째 줄에서 a = True, 사실이므로

두번째 줄의 while a, a 가 사실인 동안을 만족하게 된다.

사실인 상태이므로 while 아래 들여쓰기가 된 부분이 진행되어 Now I'm working 을 프린트 하게 된다.

마지막 줄에서 a = False, 거짓이므로 while 이 종료된다.

while 은 잘못 사용하면 컴퓨터에게 무한한 노동을 시킬 수 있으므로 조심해서 사용하는 것이 좋다.

# 5. 파이썬에서 주로 사용되는,,, list, tuple, dict

##5.1 list

list 란 무엇인가.

예를 들면 이런 상황이다.

a = 1 을 정의하였고,

b = 2 를 정의하였다.

나는 언제까지 a, b 를 하나 하나 작성할 것인가.

a 와 b 를 하나의 그룹으로 묶어서 다루고 싶은 마음이 들어버렸다 . . .

이 때 list 를 사용하면 된다.

간단한 예시를 살펴보자.

In [ ]:
a = [1, 2, 3]

위의 코드가 list를 정의하는 방법이다.

list의 이름은 a, 안에는 1, 2, 3 이 들어있는 list가 생성되었다.

역시 지금까지 진행 한대로 왼쪽에 변수 이름, 오른쪽에 값을 넣는다.

list 를 정의하기 위해서는 값의 좌우 끝에 []를 넣어주면 된다.

한번 b에 2, 3, 4 가 들어있는 list를 정의해 보자.

In [ ]:
# b에다 2, 3, 4 가 포함된 list 를 정의해보아요..

안에 내용물이 들어있는 list를 정의하였으면

당연스레 내용물을 꺼내고 싶은 마음이 들 것이다.

이 때 list의 이름 뒤에 대괄호([])를 치고, 내용물의 "번호" 를 넣으면 된다.

In [ ]:
a = [1, 2, 3] # list 를 정의함

a[0] # a의 0번째 내용물을 꺼냄

1

여기서 재밌는 점은

파이썬에서는 첫번째를 0으로 생각한다는 것이다.

a의 첫번째 내용물을 꺼내기 위해서는 a[0] 를 기입해야 한다.

그러면 다시 b 라는 list에 2, 3, 4 를 넣고, 두번째 내용물을 꺼내는 코드를 만들어보자.

In [ ]:
# 리스트에서 내용물을 꺼낼 때엔 [], 중괄호를 사용하옵니다..

역시 응용을 하면 list 안에 list를 넣을 수도 있고, (2D Matrix, 2차원 행렬로 생각할 수 있다.)

In [ ]:
Matrix = [
             [1,2,3],
             [4,5,6],
             [7,8,9]
]
print(Matrix[0][2])

3

아래와 같이 다양한 사용 방법을 적용시킬 수 있다.

In [ ]:
numbers = [5,2,1,3,2] # 여기까지는 익숙하실 것..

In [ ]:
numbers.append(20) # 내용물 추가
print(numbers)

[5, 2, 1, 3, 2, 20]

In [ ]:
numbers.pop() # 내용물 뽑아내기
print(numbers)

[90, 5, 2, 1, 3, 2]

In [ ]:
print(3 in numbers) # 내용물과 bool 결합

True

In [ ]:
numbers.sort() # 내용물 분류
print(numbers)

In [ ]:
numbers.reverse() # 내용물 뒤집기
print(numbers)

만 역시 궁금하다면 구근호 교수님 연구실에 진학을 고려해보자..

## 5.2 tuple

영원함 . . .

영원한 것이 존재할까 . . .

파이썬에서는 가능하다.

tuple 을 사용하면 된다.

tuple 또한 list 처럼 내용물들의 묶음을 만드는 방식이다.
그러나 내용물을 영원히 수정할 수 없다.

위에서 list 를 만들던 방식 그대로, 대괄호 대신 소괄호를 통해 tuple 을 정의할 수 있다.

In [ ]:
a = (1, 2, 3)

또한 a의 내용물을 꺼내고 싶다면, list와 같이 대괄호를 사용하면 된다.

In [ ]:
a = (1, 2, 3)
a[2]

3

## 5.3 dict

dict 는 dictionary, 사전의 줄임말이다.

사전이라 함은 그 사전을 의미한다.

단어: 단어의 뜻

의 형태로 온갖 단어들을 엮어놓은 책 . .

파이썬에서도 같은 형식의 사전을 만들어 낼 수 있다.

아래에서 예시를 확인해보자

In [ ]:
a = {"name": "Jake",
     "age": 28,
     "height": 185}

a

{'name': 'Jake', 'age': 28, 'height': 185}

위 코드를 통해 a 라는 사전, dict를 정의하였다.

dict 를 정의하는 방법은 위에서 보다싶이,

dict 이름 = {"단어1": 단어설명, "단어2": 단어설명, "단어3": 단어설명}

꼴이다.

기억할 만한 점은 중괄호{}를 통해 정의하며, 단어1, 단어2, 단어3 은 str의 타입으로 정의해야 한다는 것이다.

b라는 dict에 name, age, height의 단어를 가진 dict를 만들어보자.

기억나는 사람, 자신 등으로 . . .

In [ ]:
# name, age, height 의 단어를 가진 dict b 를 정의해보아요

dict에 기입한 단어의 뜻을 어떻게 꺼내올 수 있을까.

위의 list 나 tuple 에서 사용한 대괄호[] 를 사용하면 된다.

차이는 list, tuple 에서 내용물의 번호를 입력한 것과 다르게

dict 에서는 단어 자체를 대괄호에 넣어주면 된다.

In [ ]:
a = {"name": "jake",
     "age": 28,
     "height": 185}

a["name"]

'jake'

#6. function

함수 . .

수학을 배웠다면 자주 사용하였을 것이다.

파이썬에도 동일한 기능을 가진 것이 존재한다.

함수에 들어가기 전에 가벼운 계산을 진행 해 보자.

In [ ]:
a = 1
b = 1

a + b

In [ ]:
a = 1
b = 1

a - b

In [ ]:
a = 1
b = 2

a * b

2

In [ ]:
a = 2
b = 1

a / b

2.0

매우 직관적인 결과를 가져온다.

이제 a 에 b 를 곱하고 a 를 더한 뒤 그 값을 b로 나누는 코드를 만들어보자.

In [ ]:
a = 2
b = 1

# 작성해주시와요

한번은 그럭저럭 타이핑할만 하지만, 만약 매번 이 작업을 반복해야 된다면 . . .

몹시 귀찮을 것이다.

이를 함수를 통해 해결할 수 있다.

아래는 코드로 정의한 함수의 예시이다.

In [ ]:
def function(x, y):
  answer = x * y + x / y

  return answer

a = 2
b = 1
function(a, b)

4.0

### 함수를 만드는 방법은 다음과 같다.

def 기입 -> 함수 이름 기입 -> 들어갈 변수 기입 -> : 기입 (엔터 치고)

  함수 내용 기입

  return 결과물 기입

이다.

### 함수를 사용하는 방법은 다음과 같다.

함수이름(변수, 변수)

x 의 y 제곱을 만드는 함수 코드를 작성해보자 (x 의 y 제곱은 x**y 로 코드에 쓴다.)

In [ ]:
# 함수를 만들어 보아요

# 7. module

이론상 모든 코드를 우리 손으로 짤 수 있다.

마치 이론상 우리가 직접 돌에서부터 만들 수 있는 것 처럼 . . .

그러나 그것은 몹시도 귀찮은 일이다.

이에 다른 사람이 짜놓은 코드를 가져오는 일이 매우 빈번하다.

이 때 가져오는 타인의 코드들이 잘 정리된 것을 module 이라 부른다.

이 길을 택한다면 자주 사용하게 될 module 들을 소개하고자 한다.

numpy, matplotlib, pandas 등이 있다.

## 7.1 numpy

Numpy는 백터 및 매트릭스 기반 연산이 가능한 파이썬 코트 페키지이다. 기초 파이썬 코드는 복잡한 연산을 할 수 없기에 다른 패키지가 개발이 되었다.

numpy (및 모든 모듈) 을 사용하는 방법은 아래와 같다.

In [ ]:
import numpy as np

주로 import 기입 -> module 이름 기입

순서로 이루어진다. 위의 예시의 as 는 역시 궁금하다면 구근호 교수님의 연구실에 진학을 고려해보자 . . .

numpy는 list와 비슷하게 동작한다.

In [ ]:
x = np.array([1,2,3,4])
print(type(x))

<class 'numpy.ndarray'>

In [ ]:
b = np.array([[1,2,3],
              [4,5,6]]) # this is a 2 dimensional matrix.
print("b: ", b)
print("b.shape: ", b.shape)

b:  [[1 2 3]
 [4 5 6]]
b.shape:  (2, 3)

In [ ]:
print(b[0])
print(b[0,0],b[0,1],b[1,2])
print(b[0][0])

[1 2 3]
1 2 6
1